@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Chewy&display=swap");
@font-face {
  font-family: "lucky";
  src: url(./assets/fonts/LuckyDino-3z6Ay.otf);
}
* {
  scroll-behavior: smooth;
}
.ff-lucky {
  font-family: "lucky";
}
.webkit-stroke {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
}
